<div class="login_form_box">
  <div id="login_form">
    <h1 id="login_h1">Log In</h1>

    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, :class => 'form_field' %><br /><br />

      <%= f.label :password %>
      <%= f.password_field :password, :class => 'form_field' %><br /><br />

      <%= f.submit 'Log In', :class => 'submit_button' %>

    <% end %>
      
    <p>New User? <%= link_to 'Sign Up Now', signup_path %></p>
  </div>
</div>