<%= form_for([@movie, @review]) do |f| %>
<div id="errors_box">
  <% if @review.errors.any? %>

    <h3>Please fix the following <%= pluralize(@review.errors.count, 'error') %>:</h3>

    <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div id="add_review_form_box">
  <div id="add_review_form">
  <h1 id="add_review_h1">Add Review</h1>

    <%= f.label :rating %>:<br />
    <%= f.number_field :rating, min: 1, max: 10, :class => 'rating_field' %><br /><br />

    <%= f.label :content %>:<br />
    <%= f.text_area :content, :class => 'form_description' %><br /><br />

    <%= f.submit 'Submit', :class => 'submit_button' %>

<% end %>